header {
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px 0;
    background-color: #333;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;
}

#up {
    position: fixed;
    left: 15px;
    bottom: 15px;
    color: #ffffff;
    padding: 8px 29px;
    display: flex;
    justify-content: center;
    background: #00BCD4;
    font-size: 12px;
    cursor: pointer;
}

.help_main_result {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.listing_res {
    width: 100%;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 600;
}

.opens {
    height: auto !important;
    width: 100% !important;
}

.replace-word {
    padding: 0 30px;
    font-size: 14px;
}

span.find_replace {
    font-weight: 700;
    cursor: pointer;
}

.search {
    cursor: pointer;
    padding: 10px 19px;
    margin: 0 17px;
    color: white;
    font-size: 14px;
    border-radius: 1px;
    background: #673ab7;
    box-shadow: 1px 1px 5px #252525;
    transition: all .6s;
}

.help_header_main {
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.name {
    height: 55px;
    font-weight: 700;
    font-size: 25px;
    padding: 17px 0px 0px 0px;
}

.help_header_main-all {
    display: flex;
    align-items: center;
}

.button {
    padding: .4em 1em;
    display: inline-block;
    position: relative;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
}

.help_header_name {
    font-weight: 600;
    color: white;
    font-size: 26px;
    margin: 0 20px 0 0;
}

p.help_h2 {
    margin: 0;
    color: white;
    padding: 5px 15px 5px 0px;
}

main {
    width: 100%;
}

.help_main_main {
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
}

input#autocomplete {
    width: 100%;
    border: 0;
    height: 34px;
    padding: 0 7px 1px 7px;
    font-family: initial;
    font-size: 15px;
    box-sizing: border-box;
}

.listing_desc {
    padding: 0px 0 10px 0;
    font-size: 14px;
    color: #716f6f;
}

.help_header_search {
    width: 100%;
    display: flex;
    align-items: center;
}

.open {
    background: #ffffffde;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    z-index: 100;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    box-shadow: 9px 5px 16px black;
    font-size: 14px;
    color: #333;
}

.listing {
    width: 46%;
    padding: 20px;
    margin: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #efeeee;
    height: 500px;
    overflow: auto;
    box-shadow: 0 0 black;
    box-shadow: 2px 2px 18px 3px #ece7e7;
}

.listing_code {
    margin: 20px 0 25px 0;
    font-size: 14px;
    color: #ffffff;
    padding: 8px 29px;
    float: left;
    background: #2196F3;
    display: none;
}

.type span {
    top: 12px;
}

textarea.textcopy {
    width: 100%;
    border: 0;
    resize: none;
    background: #ffffff;
    line-height: 1.5;
    padding: 15px;
    font-family: "Segoe UI";
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #efeeee;
    font-size: 12px;
}

.type {
    position: absolute;
    right: 0;
    top: 10px;
    color: #ffffff;
    padding: 8px 29px;
    display: flex;
    justify-content: center;
    background: #673AB7;
    font-size: 14px;
}

.listing_name {
    padding: 6px 0 14px 0;
    font-size: 18px;
    font-weight: 500;
}

.search:hover {
    background: #583398;
    color: white;
}

.msg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    background: white;
    border-bottom: 1px solid #efeeee;
    color: #545454;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    opacity: 0.9;
    display: none;
    box-sizing: border-box;
}

.listing_tags {
    width: 100%;
    display: flex;
}

p.load {
    text-align: center;
}

.copy {
    position: absolute;
    right: 0px;
    top: 45px;
    color: #ffffff;
    padding: 8px 29px;
    display: flex;
    justify-content: center;
    background: #8BC34A;
    font-size: 12px;
    cursor: pointer;
}

.listing_tags span {
    padding: 4px 8px 7px 8px;
    margin: 3px 6px 3px 2px;
    color: white;
    background: #2196F3;
    font-size: 12px;
    /* border-radius: 2px; */
    color: #ffffff;
}


/* 
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(239, 238, 238);
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51);
    ;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

::-webkit-scrollbar {
    width: 11px;
} */